<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%=title%>
    </title>

    <base href="/">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">
                <%=title%>
            </a>
            <!-- <a class="btn btn-primary" href="/login">Login</a> -->
        </div>
    </nav>

    <% if (id) {%>
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h5>Please enter your new password below.</h5>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required minlength="8">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-type your password" required
                                            minlength="8">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Change password</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (() => {
                $("#registrationForm").validate({
                    rules: {
                        password: "required",
                        password2: {
                            equalTo: "#password"
                        },
                    }
                })

            })()
        </script>
        <% } else {%>
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Forgot your password?</h3>
                                <h5>Please enter your email below so we can send you a link to reset your password.</h5>
                            </div>
                            <div class="panel-body">
                                <form role="form" method="POST">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" id="email" placeholder="Your email address" name="email" type="email" value="" autocomplete="off"
                                                autofocus required>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-success btn-block">Send request</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <!-- js -->
                <script src="javascripts/jquery-3.2.1.min.js"></script>
                <script src="javascripts/jquery-ui.min.js"></script>
                <script src="javascripts/popper.min.js"></script>
                <script src="javascripts/bootstrap.min.js"></script>
                <script src="javascripts/bootstrap.bundle.min.js"></script>
                <script src="javascripts/jquery.validate.js"></script>
                <script src="javascripts/additional-methods.js"></script>

                <script>
                </script>

</body>

</html>