<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%=title%>
    </title>

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Custom fonts for this template -->
    <link href="stylesheets/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/landing-page.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">
                <%=title%>
            </a>
            <a class="btn btn-primary" href="/login">Sign In</a>
        </div>
    </nav>

    <!-- About us  -->
    <section id="aboutus" class="testimonials text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-left">
                    <h2>PRIVACY POLICY</h2>
                    <hr/>

                    <h4>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h4>

                    <p>When you purchase something from our site, as part of the buying and selling process, we collect the
                        personal information you give us such as your name, address and email address.</p>

                    <p>When you browse our site, we also automatically receive your computer’s internet protocol (IP) address
                        in order to provide us with information that helps us learn about your browser and operating system.</p>

                    <p>Email marketing (if applicable): With your permission, we may send you emails about our site, new products
                        and other updates.</p>

                    <br/>

                    <h4>SECTION 2 - CONSENT</h4>

                    <b>How do you get my consent?</b>

                    <p>When you provide us with personal information to complete a transaction, verify your credit card, place
                        an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting
                        it and using it for that specific reason only.</p>

                    <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you
                        directly for your expressed consent, or provide you with an opportunity to say no.</p>


                    <b>How do I withdraw my consent?</b>

                    <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the
                        continued collection, use or disclosure of your information, at anytime, by contacting us at info@bulletproofdev.com
                        or mailing us at: Bulletproofdev.com Inc. 122 Valero St., Salcedo Village, Makati City, 1227, Philippines</p>

                    <br/>

                    <h4>SECTION 3 - DISCLOSURE</h4>

                    <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms
                        of Service.</p>

                    <br/>

                    <h4>SECTION 4 - SECURITY</h4>

                    <p>To protect your personal information, we take reasonable precautions and follow industry best practices
                        to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>

                    <br/>

                    <h4>COOKIES</h4>

                    <p>Here is a list of cookies that we use. We’ve listed them here so you can choose if you want to opt-out
                        of cookies or not.</p>

                    <p>_session_id, unique token, sessional, Allows us to store information about your session (referrer, landing
                        page, etc).</p>

                    <p>_secure_session_id, unique token, sessional</p>

                    <br/>

                    <h4>SECTION 5 - AGE OF CONSENT</h4>

                    <p>By using this site, you represent that you are at least the age of majority in your state or province
                        of residence, or that you are the age of majority in your state or province of residence and you
                        have given us your consent to allow any of your minor dependents to use this site.</p>

                    <br/>

                    <h4>SECTION 6 - CHANGES TO THIS PRIVACY POLICY</h4>

                    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes
                        and clarifications will take effect immediately upon their posting on the website. If we make material
                        changes to this policy, we will notify you here that it has been updated, so that you are aware of
                        what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose
                        it.</p>

                    <p>If our site is acquired or merged with another company, your information may be transferred to the new
                        owners so that we may continue to provide our services to you.</p>

                    <br/>

                    <h4>QUESTIONS AND CONTACT INFORMATION</h4>

                    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register
                        a complaint, or simply want more information contact our Privacy Compliance Officer at info@bulletproofdev.com
                        or by mail at Bulletproofdev.com Inc.</p>

                    <p>[Re: Privacy Compliance Officer]</p>

                    <p>[122 Valero St., Salcedo Village, Makati City, 00, 1227, Philippines]</p>

                    <hr/>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                                <a href="/aboutus">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/termsofuse">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/privacypolicy">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="/docs">Docs</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Bulletproofdev.com Inc. 2018. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>