<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%=title%>
    </title>

    <base href="/">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">
                <%=title%>
            </a>
            <!-- <a class="btn btn-primary" href="/login">Login</a> -->
        </div>
    </nav>

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Thank you for verifying your account!</h1>
            <p class="lead">You can now sign in.
            </p>
            <p class="lead">You will be redirected to the sign in page in a few moments.</p>
        </div>

    </div>

    <!-- js -->
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <script src="javascripts/jquery.validate.js"></script>
    <script src="javascripts/additional-methods.js"></script>

    <script>
        (() => {
            setTimeout(()=>{
                location.href = '/login'
            }, 5000)
        })()
    </script>

</body>

</html>